<div id="fb-root"></div>
<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<div class="fb-post" data-href="https://www.facebook.com/{{username}}/posts/{{id}}" data-width="{{maxwidth}}">
  <div class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/{{username}}/posts/{{id}}">https://www.facebook.com/{{username}}/posts/{{id}}</a>
  </div>
</div>

